# Data Science Tools and Ecosystem

## Author
Nguyễn Minh Quân

<blockquote>In this notebook, Data Science Tools and Ecosystem are summarized.</blockquote>

**Objectives**:
* Data Science Tools and Ecosystem
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists

<blockquote>Some of the commonly used libraries used by Data Scientists include:</blockquote>

- Python
- R
- Scala

<blockquote>Some of the commonly used libraries used by Data Scientists include:</blockquote>

- Numpy
- Pandas
- Scikit-Learn
- Matplotlib
- Scipy

|Data Science Tools|
--------------------
|Apache Spark|
|Tensorflow|
|Rstudio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17